{# {% extends 'base.html.twig' %} #}
{# 
{% block title %}Modifier l'utilisateur{% endblock %} #}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="admin-container">
  <div class="admin-layout">
    {% include 'admin/partials/_sidebar.html.twig' %}

    <div class="admin-content">
      <div class="content-inner">
        <div class="content-header">
           <a href="{{ path('home') }}" class="logo" aria-label="Aller à l’accueil">
      <img src="{{ asset('images/logo_KZF.png') }}" alt="Kidzen&fun" class="logo_img">
    </a>
          <a href="{{ path('home') }}" class="btn withe">Voir le site ⤴</a>
        </div>

        <h1 class="page-title">Modifier l’utilisateur</h1>

        {% include 'partials/_flash.html.twig' %}

        {{ form_start(form, { attr: { class: 'user-form' } }) }}
          {{ form_row(form.lastName,  { row_attr:{ class:'field' }, label:'Nom',    label_attr:{ class:'label' }, attr:{ class:'input', placeholder:'Vinchon' } }) }}
          {{ form_row(form.firstName, { row_attr:{ class:'field' }, label:'Prénom', label_attr:{ class:'label' }, attr:{ class:'input', placeholder:'Siham' } }) }}
          {{ form_row(form.email,     { row_attr:{ class:'field' }, label:'Email',  label_attr:{ class:'label' }, attr:{ class:'input', placeholder:'sihamvinchon@gmail.com' } }) }}
          {{ form_row(form.role,      { row_attr:{ class:'field' }, label:'Rôle',   label_attr:{ class:'label' }, attr:{ class:'select' } }) }}
          {{ form_row(form.status,    { row_attr:{ class:'field' }, label:'Status', label_attr:{ class:'label' }, attr:{ class:'select' } }) }}

          <div class="actions buttons">
            <button type="submit" class="btn purple">Enregistrer</button>
            <a href="{{ path('admin_users') }}" class="btn withe">Annuler</a>
          </div>
        {{ form_end(form) }}

        <form method="post" action="{{ path('admin_user_send_reset', { id: user.id }) }}" class="buttons" style="margin-top:12px">
          <input type="hidden" name="_token" value="{{ csrf_token('send_reset_' ~ user.id) }}">
          <button class="btn withe">Envoyer le lien pour réinitialiser le mot de passe</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
