{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Kidzen&Fun{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}



{% block body %}
<section class="reset-page">
    <div class="reset-container">

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="reset-message reset-alert-error">
                {{ flash_error }}
            </div>
        {% endfor %}

        <h1 class="reset-title">Mot de passe oublié</h1>
        <p class="reset-intro">
            Entrez l’adresse email associée à votre compte. Si un compte existe, vous recevrez un lien pour réinitialiser votre mot de passe.
        </p>

        {{ form_start(requestForm) }}

            <div class="reset-field">
                {{ form_label(requestForm.email) }}
                {{ form_widget(requestForm.email, {'attr': {'class': 'reset-input'}}) }}
                {{ form_errors(requestForm.email) }}
            </div>

            <button class="reset-button">Envoyer le lien de réinitialisation</button>

        {{ form_end(requestForm) }}

    </div>
</section>
{% endblock %}