{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe - Kidzen&Fun{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<section class="reset-page">
    <div class="reset-container">

        <h1 class="reset-title">Choisissez un nouveau mot de passe</h1>
        <p class="reset-intro">
            Saisissez votre nouveau mot de passe ci-dessous.
        </p>

        {{ form_start(resetForm) }}

            <div class="reset-field">
                {{ form_label(resetForm.plainPassword) }}
                {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'reset-input'}}) }}
                {{ form_errors(resetForm.plainPassword) }}
            </div>

            <button class="reset-button">Mettre à jour le mot de passe</button>

        {{ form_end(resetForm) }}

    </div>
</section>
{% endblock %}
